// Post Expand
// --------------------------------------------------
.posts-expand {
	&.index {
		.post-title, .post-meta {
			text-align: $site-meta-text-align;

			+mobile() {
				text-align: center;
			}
		}

		.post-meta {
			margin: 5px 0 20px 0;
		}
	}

	.post-eof {
		//display: none;
		display: block;
  		//margin: $post-eof-margin-top auto $post-eof-margin-bottom;  
  		margin-top: 40px;
		margin-bottom: 30px;
    	width: 100%; //分割线长度
    	height: 2px; // 分割线高度
    	background: $grey-light;
    	opacity: 0.3
    	text-align: center;
	}

	.post-block {
		margin-top: 20px;
		margin-bottom: 20px;
		//padding: 25px;
		//border-radius: 5px;
		//-webkit-box-shadow: 0 0 10px rgba(202, 203, 203, .5); 
		//-moz-box-shadow: 0 0 10px rgba(202, 203, 204, .5); 
	}

	.post-title, .post-meta {
		text-align: center;
	}

	.post-body img {
		margin-left: 0;
	}

	.post-tags {
		text-align: left;

		a {
			background: $whitesmoke;
			border-bottom: none;
			padding: 1px 5px;

			&:hover {
				background: $grey-light;
			}
		}
	}

	.post-nav {
		margin-top: 40px;
	}
}

.post-button {
	margin-top: 20px;
	text-align: left;

	.btn {
		// color: $grey-dim;
		background: none;
		border: 0;
		border-bottom: 0.5px dashed var(--btn-default-border-color);
		opacity: 0.8
		padding: 0;
		transition-property: border;

		&:hover {
			border-bottom-color: var(--btn-default-hover-border-color);
		}
	}
}
